<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>

	.title {
  border: 5px outset #0099ff;
  background-color: lightblue;
  text-align: center;
  font-family: "Berlin Sans FB";
  color: #0099ff;
}
	.try {
  border: 5px outset #0099ff;
  background-color: lightblue;
  text-align: center;
		color: darkblue;
	}
 body{
    background-color: #8bbdc2;
}

</style>

<body>
<div class="title">
 <h2>LOG OUT</h2>
</div>


 <button type="button">Log out</button>



</body>
{% endblock %}